footer.logo {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  padding: 10px 20px;
  background-color: #fbdfaa91; 
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(245, 123, 0, 0.458); 
  transition: all 0.3s ease;
  position: relative;
  border-bottom: transparent;
    border-left: transparent;
  border-right: transparent;
}

footer.logo .logo-img {
  display: flex;
  align-items: center;
}

footer.logo .logo-img img {
  width: 200px;
  height: auto;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

footer.logo .logo-img img:hover {
  transform: scale(1.08);
}

footer.logo .logo-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  color: #888;
  margin: 0;
  font-weight: 100;
  transition: color 0.3s ease;
  text-align: center;
}

body.dark footer.logo {
  background: rgba(26, 20, 20, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 193, 7, 0.2);
  border-bottom: transparent;
    border-left: transparent;
  border-right: transparent;
  

}

body.dark footer.logo .logo-text {
  color: #bfc9a9;
}

body.dark footer.logo .logo-img img {
  filter: brightness(0.9) drop-shadow(0 0 8px rgba(255, 193, 7, 0.5));
}

body.dark footer.logo .logo-img img:hover {
  filter: brightness(1) drop-shadow(0 0 12px rgba(255, 193, 7, 0.7));
}
